h1 {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-size: 4rem;
  color: #11468F;
}

h2 {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #11468F;
}

h3 {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  color: #64cfed;
}

p {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 2rem
}

a {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #11468F;
}

body {
  margin: 0;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #C9D1D3;
  width: 20%;
  border-top-width: thick;
  margin: 75px auto
}

.wing {
  font-size: 2.1875rem
}

.a {
  font-weight: 300;
}

.gamer {
  font-style: italic;
}

.top-container {
  background-color: #E3FDFD;
  padding-top: 180px;
  display: block;
}

.ace {
  position: relative;
  max-width: 40%;
  max-height: 100%;
  margin: 0 auto;
}

.pubg {
  position: relative;
  max-width: 100%;
  top: 25px;
  max-height: 100%;
  margin: 0 auto;
}

.middle-container {
  padding-bottom: 100px
}

.headshot {
  background-color: #EEEEEE;
  border-radius: 80%;
  margin: 100px auto 0 auto;
  max-width: 55%;
  max-height: 100%;
}

.profile {
  width: 50%;
  margin: 50px auto;
  line-height: 1.1
}

.skill-row {
  width: 45%;
  margin: 50px auto;
  text-align: left;
  line-height: 1.1
}

.dp {
  float: left;
  margin-right: 30px;
  max-width: 80%
}

.mini {
  float: right;
  margin-left: 30px;
  max-width: 80%
}

.bottom-container {
  padding-top: 20px;
  background-color: #64cfed;
}

.btn {
  -webkit-border-radius: 46;
  -moz-border-radius: 46;
  border-radius: 46px;
  text-shadow: 1px 1px 3px #574057;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #145374;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #6A99CB;
  text-decoration: none;
}

.footer {
  font-size: 2rem
}

.wing-small {
  font-size: 1.5rem
}
